Repository xtuc/webassemblyjs, pull requests merged in 2018-06, with the labels that each got.

#380 couple of bugs
  packages/helper-wasm-bytecode/src/index.js
  packages/wasm-parser/src/decoder.js
Labels: bug, pkg: wasm-parser

#381 wasm edit Elem node
  packages/ast/scripts/generateNodeUtils.js
  packages/wasm-edit/test/ast-sync.js
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/src/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/src/decoder.js
Labels: pkg: wasm-gen, pkg: wasm-parser

#386 Context start func
  packages/helper-module-context/package.json
  packages/helper-module-context/src/index.js
  packages/helper-module-context/test/index.js
Labels: pkg: helper-module-context

#343 First draft of parens-less instructions
  .travis.yml
  packages/ast/src/signatures.js
  packages/wasm-parser/src/decoder.js
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/br_table/basic/expected.json
  packages/wast-parser/test/fixtures/func/body-instructions-without-parens/actual.wast
  packages/wast-parser/test/fixtures/func/body-instructions-without-parens/expected.json
  packages/wast-parser/test/fixtures/instruction/nested/expected.json
Labels: pkg: wast-parser

#396 fix: use long for i64 leb128 decoding
  packages/leb128/package.json
  packages/leb128/src/leb.js
  packages/leb128/test/index.js
  packages/leb128/test/original-tests.js
Labels: i64

#398 remove badI32ToI64Conversion
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/types/decoder.js
  packages/wasm-parser/test/fixtures/literals/actual.wat
Labels: pkg: wasm-parser

#401 add LongNumberLiteral instr arg encoding
  packages/wasm-gen/src/encoder/index.js
Labels: pkg: wasm-gen
