Repository xtuc/webassemblyjs, pull requests merged in 2018-04, with the labels that each got.

#215 Rewrite number tokenizer as separate state machine
  packages/helper-fsm/package.json
  packages/helper-fsm/src/index.js
  packages/helper-fsm/test/index.js
  packages/wast-parser/package.json
  packages/wast-parser/src/tokenizer.js
  packages/wast-printer/test/fixtures/wast/actual.wast
  packages/wast-printer/test/fixtures/wast/expected.wast
Labels: pkg: wast-parser

#225 fix: module export references should be identifiers
  packages/wasm-parser/test/fixtures/module-export/actual.wat
  packages/wasm-parser/test/fixtures/module-export/actual.wat-failure
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/export/global/expected.json
  packages/wast-parser/test/fixtures/export/memory/expected.json
  packages/wast-parser/test/fixtures/export/table/expected.json
  packages/wast-parser/test/fixtures/import/table/expected.json
  packages/wast-parser/test/fixtures/table/basic/expected.json
  packages/wast-parser/test/fixtures/table/with-elem/expected.json
  packages/wast-parser/test/fixtures/table/with-shorthand-export/expected.json
  packages/wast-printer/test/fixtures/wast/expected.wast
  packages/webassemblyjs/src/interpreter/runtime/values/module.js
Labels: pkg: wast-parser

#233 wast refmt!
  README.md
  packages/wast-refmt/README.md
  packages/wast-refmt/package.json
  packages/wast-refmt/src/cli.js
  packages/wast-refmt/src/index.js
Labels: pkg: wast-refmt

#239 Split REPL
  Makefile
  README.md
  packages/repl/package.json
  packages/repl/src/bin.js
  packages/repl/src/index.js
Labels: pkg: repl

#110 online REPL
  packages/repl/package.json
  packages/repl/src/index.js
  website/pages/en/repl.js
  website/static/js/repl.js
Labels: good first issue, help wanted

#243 website improve REPL
  packages/repl/package.json
  packages/repl/src/bin.js
  packages/repl/src/index.js
  website/i18n/en.json
  website/pages/en/repl.js
  website/pages/en/share.js
  website/siteConfig.js
  website/static/js/repl.js
Labels: website

#246 Linear call stack
  .babelrc.js
  .eslintrc.js
  package-lock.json
  package.json
  packages/repl/src/index.js
  packages/wast-parser/test/fixtures/end/actual.wast
  packages/wast-parser/test/fixtures/end/expected.json
  packages/webassemblyjs/src/compiler/compile/module.js
  packages/webassemblyjs/src/compiler/validation/is-const.js
  packages/webassemblyjs/src/compiler/validation/type-inference.js
  packages/webassemblyjs/src/interpreter/host-func.js
  packages/webassemblyjs/src/interpreter/kernel/exec.js
  packages/webassemblyjs/src/interpreter/runtime/values/global.js
  packages/webassemblyjs/test/fixtures/br/basic/exec.tjs
  packages/webassemblyjs/test/fixtures/br/basic/module.wast
  packages/webassemblyjs/test/fixtures/br/desugared-spec-test/exec.tjs
  packages/webassemblyjs/test/fixtures/br/desugared-spec-test/module.wast
  packages/webassemblyjs/test/interpreter/kernel/exec.js
  packages/webassemblyjs/test/interpreter/kernel/exec/administrative-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/control-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/conversion-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/memory-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/numeric-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/parametric-instructions.js
  packages/webassemblyjs/test/interpreter/kernel/exec/store-load-instructions.js
  packages/webassemblyjs/test/interpreter/runtime/values.js
  types/index.js
Labels: kernel/exec, pkg: webassemblyjs

#247 Path evaluation
  packages/ast/README.md
  packages/ast/src/traverse.js
  packages/ast/test/traverse.js
Labels: pkg: ast

#248 Add some macros in grammar
  packages/wast-parser/src/grammar.js
  packages/wast-parser/src/tokenizer.js
  packages/wast-parser/test/fixtures/export/invalid/actual.wast
  packages/wast-parser/test/fixtures/export/invalid/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-body/actual.wast
  packages/wast-parser/test/fixtures/func/invalid-body/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-param/actual.wast
  packages/wast-parser/test/fixtures/func/invalid-param/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-result/actual.wast
  packages/wast-parser/test/fixtures/func/invalid-result/throws.txt
Labels: pkg: wast-parser

#249 add missing instruction in printer
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/data/constant-offset/expected.json
  packages/wast-parser/test/fixtures/data/with-memory-index/expected.json
  packages/wast-printer/src/index.js
  packages/wast-printer/test/fixtures/wast/actual.wast
  packages/wast-printer/test/fixtures/wast/expected.wast
Labels: pkg: wast-parser, pkg: wast-printer

#250 helper code frame
  package.json
  packages/dce/test/fixtures/func/expected.wast
  packages/dce/test/fixtures/referenced-func/expected.wast
  packages/dce/test/fixtures/used-func-destructuring/expected.wast
  packages/dce/test/fixtures/used-func/expected.wast
  packages/helper-code-frame/package.json
  packages/helper-code-frame/src/index.js
  packages/helper-code-frame/test/index.js
  packages/wast-parser/package-lock.json
  packages/wast-parser/package.json
  packages/wast-parser/src/grammar.js
  packages/wast-parser/src/tokenizer.js
  packages/wast-parser/test/fixtures/export/invalid/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-body/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-param/throws.txt
  packages/wast-parser/test/fixtures/func/invalid-result/throws.txt
  packages/wast-parser/test/index.js
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-colons/throws.txt
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-dots/throws.txt
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-e/throws.txt
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-ps/throws.txt
  packages/wast-printer/src/index.js
  packages/wast-printer/test/fixtures/wast/expected.wast
  types/npm/@babel/code-frame_vx.x.x.js
Labels: pkg: helper-code-frame

#253 Add new numberLiteralFSM state AFTER_SIGN
  packages/wast-parser/src/tokenizer.js
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-dots/throws.txt
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-ps/throws.txt
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-signs/actual.wast
  packages/wast-parser/test/tokenizer/number-literal-errors/multiple-signs/throws.txt
  packages/webassemblyjs/test/fixtures/br/desugared-spec-test/exec.tjs
Labels: pkg: wast-parser

#258 Remove some infinite loops
  packages/wast-parser/src/grammar.js
  website/static/js/repl.js
Labels: pkg: wast-parser

#260 fix(repl): assert type too
  packages/repl/src/index.js
  packages/webassemblyjs/src/interpreter/host-func.js
  packages/webassemblyjs/src/interpreter/index.js
  types/userland.js
Labels: bug, pkg: repl

#261 Make the online REPL actually usable
  website/pages/en/repl.js
  website/static/js/repl-worker.js
  website/static/js/repl.js
Labels: website
