Repository xtuc/webassemblyjs, pull requests merged in 2018-03, with the labels that each got.

#191 Feat wasm edit start func
  packages/helper-wasm-bytecode/src/index.js
  packages/helper-wasm-section/src/create.js
  packages/helper-wasm-section/test/index.js
  packages/wasm-edit/test/insert-node.js
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/src/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/test/fixtures/basic/expected.json
  packages/wasm-parser/test/fixtures/section-metadata/expected.json
  packages/wasm-parser/test/fixtures/start-func/expected.json
  packages/wasm-parser/test/fixtures/with-import/expected.json
  types/AST.js
Labels: WASM, pkg: wasm-edit, pkg: wasm-section

#193 remove the Start section
  packages/helper-wasm-section/src/index.js
  packages/helper-wasm-section/src/remove.js
  packages/helper-wasm-section/test/index.js
  packages/wasm-edit/src/apply.js
  packages/wasm-edit/test/remove-node.js
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/test/fixtures/section-metadata/expected.json
  packages/wasm-parser/test/fixtures/start-func/expected.json
Labels: pkg: wasm-edit

#194 Add func type in type section
  lerna.json
  packages/ast/package.json
  packages/cli/package.json
  packages/dce/package.json
  packages/helper-buffer/package.json
  packages/helper-leb128/package.json
  packages/helper-wasm-bytecode/package.json
  packages/helper-wasm-section/package.json
  packages/helper-wasm-section/src/create.js
  packages/helper-wasm-section/src/index.js
  packages/wasm-edit/package.json
  packages/wasm-edit/test/replace-node.js
  packages/wasm-gen/package.json
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/src/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/package.json
  packages/wasm-parser/src/decoder.js
  packages/wasm-text-gen/package.json
  packages/wast-parser/package.json
  packages/wast-printer/package.json
  packages/webassemblyjs/package.json
Labels: pkg: wasm-edit

#198 doc: minor documentation tweaks
  README.md
  packages/wasm-gen/package.json
Labels: documentation

#196 Improve wasm gen and edit
  lerna.json
  packages/ast/package.json
  packages/ast/src/clone.js
  packages/ast/src/index.js
  packages/ast/src/traverse.js
  packages/cli/package.json
  packages/dce/package.json
  packages/dce/test/index.js
  packages/helper-buffer/package-lock.json
  packages/helper-buffer/package.json
  packages/helper-buffer/src/compare.js
  packages/helper-leb128/package.json
  packages/helper-wasm-bytecode/package.json
  packages/helper-wasm-bytecode/src/index.js
  packages/helper-wasm-section/package.json
  packages/helper-wasm-section/src/index.js
  packages/helper-wasm-section/src/resize.js
  packages/wasm-edit/package.json
  packages/wasm-edit/src/apply.js
  packages/wasm-edit/src/index.js
  packages/wasm-edit/test/insert-node.js
  packages/wasm-edit/test/remove-node.js
  packages/wasm-edit/test/replace-node.js
  packages/wasm-gen/package.json
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/src/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/package.json
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/types/decoder.js
  packages/wasm-parser/test/fixtures/basic/expected.json
  packages/wasm-parser/test/fixtures/section-metadata/expected.json
  packages/wasm-parser/test/fixtures/start-func/expected.json
  packages/wasm-parser/test/fixtures/with-import/expected.json
  packages/wasm-text-gen/package.json
  packages/wast-parser/package.json
  packages/wast-printer/package.json
  packages/webassemblyjs/package.json
  types/AST.js
  types/wasm-edit.js
Labels: pkg: wasm-edit, pkg: wasm-gen, pkg: wasm-section

#200 Expecting parser errors and avoid multiple 'p' in hex-float
  packages/wast-parser/src/tokenizer.js
  packages/wast-parser/test/fixtures/number-literals/invalid/hex-float-pp/actual.wast
  packages/wast-parser/test/fixtures/number-literals/invalid/hex-float-pp/throws.txt
  packages/wast-parser/test/index.js
Labels: pkg: wast-parser

#203 Create wasm-strip
  README.md
  packages/wasm-strip/README.md
  packages/wasm-strip/package.json
  packages/wasm-strip/src/cli.js
  packages/wasm-strip/src/index.js
Labels: pkg: wasm-strip

#206 Implement lookhead() and lookback() as functions [->lookbehind()]
  packages/wast-parser/src/tokenizer.js
Labels: pkg: wast-parser

#205 Exponential floats
  packages/wast-parser/src/tokenizer.js
  packages/wast-parser/test/fixtures/number-literals/f32/negative-exponential/actual.wast
  packages/wast-parser/test/fixtures/number-literals/f32/negative-exponential/expected.json
  packages/wast-parser/test/fixtures/number-literals/f32/positive-exponential/actual.wast
  packages/wast-parser/test/fixtures/number-literals/f32/positive-exponential/expected.json
  packages/wast-parser/test/index.js
  packages/wast-parser/test/tokenizer/number-literals/exponential-floats/negative-exponent/actual.wast
  packages/wast-parser/test/tokenizer/number-literals/exponential-floats/negative-exponent/expected.json
  packages/wast-parser/test/tokenizer/number-literals/exponential-floats/positive-exponent/actual.wast
  packages/wast-parser/test/tokenizer/number-literals/exponential-floats/positive-exponent/expected.json
  packages/wast-parser/test/tokenizer/number-literals/hex-float-pp/actual.wast
  packages/wast-parser/test/tokenizer/number-literals/hex-float-pp/throws.txt
Labels: pkg: wast-parser

#211 fix and re-enable tests
  packages/dce/src/removal.js
  packages/dce/test/fixtures/func/expected.wast
  packages/dce/test/fixtures/referenced-func/expected.wast
  packages/dce/test/fixtures/used-func-destructuring/expected.wast
  packages/dce/test/fixtures/used-func/expected.wast
  packages/dce/test/index.js
  packages/wast-printer/src/index.js
  packages/wast-printer/test/fixtures/wast/actual.wast
  packages/wast-printer/test/fixtures/wast/expected.wast
Labels: pkg: dce, pkg: wast-printer

#207 Additional validation from the wat parser
  packages/ast/src/traverse.js
  packages/wasm-edit/test/replace-node.js
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/global/with-shorthand-import/actual.wast
  packages/wast-parser/test/fixtures/global/with-shorthand-import/expected.json
  packages/webassemblyjs/src/compiler/validation/import-order.js
  packages/webassemblyjs/src/compiler/validation/index.js
  packages/webassemblyjs/test/fixtures/instantiate-data-section/global-offset/module.wast
  packages/webassemblyjs/test/index.js
Labels: pkg: wast-parser

#216 Fix helper-leb128 package duplicate
  README.md
Labels: documentation

#212 Decode custom name section
  packages/ast/src/index.js
  packages/ast/src/traverse.js
  packages/dce/test/fixtures/func/expected.wast
  packages/dce/test/fixtures/referenced-func/expected.wast
  packages/dce/test/fixtures/used-func-destructuring/expected.wast
  packages/dce/test/fixtures/used-func/expected.wast
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/index.js
  packages/wasm-parser/test/fixtures/basic/expected.json
  packages/wasm-parser/test/fixtures/section-metadata/expected.json
  packages/wasm-parser/test/fixtures/start-func/expected.json
  packages/wasm-parser/test/fixtures/with-import/expected.json
  types/AST.js
Labels: pkg: ast, pkg: wast-parser

#223 ESLint plugin
  .babelrc.js
  README.md
  package-lock.json
  package.json
  packages/eslint/README.md
  packages/eslint/package.json
  packages/eslint/src/index.js
  packages/eslint/src/rules/index.js
  packages/eslint/src/rules/no-unknown-export.js
  packages/eslint/test/RuleTester.js
  packages/eslint/test/addTwo.wasm
  packages/eslint/test/rules/no-unknown-export.js
  scripts/test.sh
Labels: eslint-plugin-webassembly
