Repository xtuc/webassemblyjs, pull requests merged in 2018-05, with the labels that each got.

#274 implement table parser
  packages/ast/src/index.js
  packages/validation/package-lock.json
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/types/decoder.js
  packages/wasm-parser/test/fixtures/module-export/func/actual.wat
  packages/wasm-parser/test/fixtures/module-export/table/actual.wat
  packages/wasm-parser/test/fixtures/table/actual.wat
  packages/wast-parser/src/grammar.js
Labels: pkg: wasm-parser

#284 print CallIndirectInstruction
  packages/wast-printer/src/index.js
  packages/wast-printer/test/fixtures/wast/actual.wast
  packages/wast-printer/test/fixtures/wast/expected.wast
Labels: pkg: wast-printer

#285 support module name in name section
  packages/ast/src/index.js
  packages/ast/src/traverse.js
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/index.js
  packages/wasm-parser/test/fixtures/module/name/actual.wat-failure
  types/AST.js
Labels: pkg: wasm-parser

#283 decode data in wasm
  packages/wasm-parser/src/decoder.js
  packages/wast-printer/src/index.js
Labels: pkg: wasm-parser

#294 Allow comment in func declaration
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/comment/func-declaration/actual.wast
  packages/wast-parser/test/fixtures/comment/func-declaration/expected.json
Labels: pkg: wast-parser

#286 Traverse refactor
  packages/ast/src/index.js
  packages/ast/src/traverse.js
  packages/ast/test/traverse.js
  packages/cli/src/printer/fast-ast/index.js
  packages/dce/src/reference-couting.js
  packages/floating-point-hex-parser/package.json
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-parser/src/index.js
  packages/wasm-text-gen/src/printers/javascript.js
  packages/wasm-text-gen/src/printers/markdown.js
  packages/wasm-text-gen/src/printers/text.js
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/export/global/expected.json
  packages/wast-parser/test/fixtures/export/memory/expected.json
  packages/wast-parser/test/fixtures/export/table/expected.json
  packages/wast-parser/test/fixtures/func/with-shorthand-export/expected.json
  packages/wast-parser/test/fixtures/global/with-shorthand-export/expected.json
  packages/wast-parser/test/fixtures/memory/with-shorthand-export/expected.json
  packages/wast-parser/test/fixtures/module/anonymous-module-with-export/expected.json
  packages/wast-parser/test/fixtures/nan/function-argument/expected.json
  packages/wast-parser/test/fixtures/table/with-shorthand-export/expected.json
  packages/wast-printer/src/index.js
  packages/webassemblyjs/src/compiler/compile/module.js
  packages/webassemblyjs/src/interpreter/runtime/values/module.js
  scripts/build.sh
  scripts/test.sh
  types/AST.js
Labels: breaking change, pkg: ast

#281 Some wasm-edit improvements
  packages/ast/src/index.js
  packages/ast/src/traverse.js
  packages/ast/src/utils.js
  packages/ast/test/utils.js
  packages/helper-wasm-bytecode/src/index.js
  packages/helper-wasm-bytecode/src/section.js
  packages/helper-wasm-section/src/create.js
  packages/helper-wasm-section/src/index.js
  packages/helper-wasm-section/src/remove.js
  packages/helper-wasm-section/src/resize.js
  packages/wasm-edit/README.md
  packages/wasm-edit/src/apply.js
  packages/wasm-edit/src/index.js
  packages/wasm-edit/test/ast-sync.js
  packages/wasm-gen/test/index.js
  packages/wasm-opt/src/leb128.js
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/index.js
Labels: pkg: wasm-edit

#301 Swap actual and expected in diffs
  packages/helper-test-framework/src/index.js
Labels: pkg: helper-test-framework

#306 Push locals into function body
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/test/fixtures/local/actual.wat
  packages/wasm-parser/test/index.js
Labels: pkg: wasm-parser

#313 ModuleExport by index in wasm
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/index.js
  packages/wasm-parser/test/fixtures/module-export/func/actual.wat
  packages/webassemblyjs/src/interpreter/runtime/values/module.js
Labels: pkg: wasm-parser

#312 Else parsing for wasm
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/test/fixtures/if/actual.wat
  packages/wast-parser/src/grammar.js
  packages/wast-parser/test/fixtures/if/empty/expected.json
  packages/wast-parser/test/fixtures/if/test-and-consequent-and-alternate/expected.json
  packages/wast-parser/test/fixtures/import/table/expected.json
  packages/wast-parser/test/fixtures/table/basic/expected.json
  packages/wast-parser/test/fixtures/table/with-shorthand-export/expected.json
  packages/wast-parser/test/fixtures/wast-identifier-to-index/if/expected.json
Labels: pkg: wasm-parser

#229 [WIP] better Stack validation and new package
  packages/validation/package.json
  packages/validation/src/func-result-type.js
  packages/validation/src/index.js
  packages/validation/src/type-checker.js
  packages/validation/src/type-checker/get-type.js
  packages/validation/src/type-checker/module-context.js
  packages/validation/src/type-checker/types.js
  packages/validation/test/fixtures/binop/module.wast
  packages/validation/test/fixtures/binop/output.txt
  packages/validation/test/fixtures/block/module.wast
  packages/validation/test/fixtures/block/output.txt
  packages/validation/test/fixtures/br/module.wast
  packages/validation/test/fixtures/br/output.txt
  packages/validation/test/fixtures/call/module.wast
  packages/validation/test/fixtures/call/output.txt
  packages/validation/test/fixtures/conversion/module.wast
  packages/validation/test/fixtures/conversion/output.txt
  packages/validation/test/fixtures/if/module.wast
  packages/validation/test/fixtures/if/output.txt
  packages/validation/test/fixtures/imports/module.wast
  packages/validation/test/fixtures/imports/output.txt
  packages/validation/test/fixtures/labels/module.wast
  packages/validation/test/fixtures/labels/output.txt
  packages/validation/test/fixtures/load/module.wast
  packages/validation/test/fixtures/load/output.txt
  packages/validation/test/fixtures/memory/module.wast
  packages/validation/test/fixtures/memory/output.txt
  packages/validation/test/fixtures/misc/module.wast
  packages/validation/test/fixtures/misc/output.txt
  packages/validation/test/fixtures/result/module.wast
  packages/validation/test/fixtures/result/output.txt
  packages/validation/test/fixtures/store/module.wast
  packages/validation/test/fixtures/store/output.txt
  packages/validation/test/fixtures/unary-operand/module.wast
  packages/validation/test/fixtures/unary-operand/output.txt
  packages/validation/test/index.js
  packages/webassemblyjs/test/fixtures/call-func-with-i64-result/module.wast
  packages/webassemblyjs/test/fixtures/if-type-inference-incorrect-branches/exec.tjs
  packages/webassemblyjs/test/fixtures/if-type-inference-incorrect-result/exec.tjs
  packages/webassemblyjs/test/fixtures/if-type-inference-incorrect-result/module.wast
  packages/webassemblyjs/test/fixtures/importObject/module.wast
  packages/webassemblyjs/test/fixtures/validate-func-result-type/module.wast
  packages/webassemblyjs/test/fixtures/well-typed/select-misc/exec.tjs
  packages/webassemblyjs/test/fixtures/well-typed/select-misc/module.wast
Labels: pkg: ast, validation

#320 preserve NumberLiteral in moduleImport wasm
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/index.js
  packages/wasm-parser/test/fixtures/import/actual.wat
Labels: pkg: wasm-parser

#323 remove mut-global validation
  packages/validation/src/index.js
  packages/validation/src/mut-global.js
  packages/validation/src/type-checker/get-type.js
  packages/validation/test/fixtures/global/module.wast
  packages/validation/test/fixtures/global/output.txt
  packages/validation/test/fixtures/misc/module.wast
  packages/validation/test/fixtures/misc/output.txt
Labels: pkg: validation

#318 Add typechecker testsuite
  Makefile
  packages/ast/src/definitions.js
  packages/ast/src/nodes.js
  packages/ast/src/types/nodes.js
  packages/repl/package.json
  packages/repl/src/index.js
  packages/validation/src/index.js
  packages/validation/src/mut-global.js
  packages/validation/src/type-checker.js
  packages/validation/src/type-checker/get-type.js
  packages/validation/src/type-checker/module-context.js
  packages/validation/test/fixtures/global/module.wast
  packages/validation/test/fixtures/global/output.txt
  packages/validation/test/fixtures/misc/module.wast
  packages/validation/test/fixtures/misc/output.txt
  packages/wast-parser/test/fixtures/call_indirect/expected.json
Labels: pkg: validation

#335 Feat identifier to index br
  packages/ast/src/definitions.js
  packages/ast/src/nodes.js
  packages/ast/src/transform/wast-identifier-to-index/index.js
  packages/ast/src/traverse.js
  packages/ast/src/types/basic.js
  packages/ast/src/types/nodes.js
  packages/ast/test/transform/wast-identifier-to-index/fixtures/br/actual.json
  packages/ast/test/transform/wast-identifier-to-index/fixtures/br/expected.json
  packages/ast/test/traverse.js
Labels: pkg: ast

#346 Change name wast-loader
  packages/wast-loader/README.md
  packages/wast-loader/package.json
Labels: pkg: wast-loader

#337 Type-checker: Support multiple labels and improve nested blocks in br_table
  packages/validation/src/type-checker.js
  packages/validation/src/type-checker/get-type.js
  packages/validation/test/fixtures/table/module.wast
  packages/validation/test/fixtures/table/output.txt
  packages/validation/test/fixtures/table/well-typed/module.wast
  packages/validation/test/fixtures/table/well-typed/output.txt
Labels: pkg: validation

#352 correct ModuleImport funcidx
  packages/wasm-parser/src/decoder.js
Labels: pkg: wasm-parser

#359 export global decoding
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/types/decoder.js
  packages/wasm-parser/test/fixtures/module-export/global/actual.wat-failure
Labels: pkg: wasm-parser

#360 correct values
  packages/ieee754/package.json
  packages/ieee754/src/index.js
  packages/leb128/src/index.js
  packages/wasm-gen/package.json
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/src/decoder.js
Labels: pkg: ieee754, pkg: wasm-gen

#361 add export global
  packages/wast-printer/src/index.js
  packages/wast-printer/test/fixtures/wast/actual.wast
  packages/wast-printer/test/fixtures/wast/expected.wast
Labels: pkg: wast-printer

#362 add Global node location
  packages/wasm-parser/src/decoder.js
Labels: pkg: wasm-parser

#363 use ieee754 package
  packages/ieee754/src/index.js
  packages/wasm-parser/package.json
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/ieee754.js
  packages/wasm-parser/test/fixtures/literals/actual.wat
  packages/wasm-parser/test/index.js
  packages/wast-parser/src/grammar.js
Labels: pkg: wasm-parser

#365 add custom_section testsuite
  Makefile
  packages/wasm-parser/src/decoder.js
Labels: pkg: wasm-parser

#369 Nan and Inf support in wasm-parser
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/test/fixtures/literals/actual.wat
  packages/wast-parser/src/number-literals.js
  packages/wast-parser/test/fixtures/number-literals/f64/nan-inf/actual.wast
  packages/wast-parser/test/fixtures/number-literals/f64/nan-inf/expected.json
Labels: pkg: wasm-parser

#372 Traverse refactor
  .babelrc.js
  package.json
  packages/ast/README.md
  packages/ast/src/node-path.js
  packages/ast/src/transform/wast-identifier-to-index/index.js
  packages/ast/src/traverse.js
  packages/ast/src/types/traverse.js
  packages/ast/test/traverse.js
Labels: pkg: ast

#376 correct UTF8 encoding
  Makefile
  packages/utf8/package.json
  packages/utf8/src/decoder.js
  packages/utf8/src/encoder.js
  packages/utf8/src/index.js
  packages/utf8/test/index.js
  packages/wasm-gen/package.json
  packages/wasm-gen/src/encoder/index.js
  packages/wasm-gen/src/index.js
  packages/wasm-gen/test/index.js
  packages/wasm-parser/package.json
  packages/wasm-parser/src/decoder.js
  packages/wasm-parser/src/utf8.js
Labels: pkg: wasm-gen
